body {
  background-color: #fff;
}

header .hero {
  height: 500px;
  background-image: url("/images/banner-img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 0;
  color: #fff;
}

.hero-info {
  width: 400px;
  margin: 48px auto;
}

.hero-info h1 {
  font-weight: 700;
  font-size: 48px;
}

.hero-info a {
  display: inline-block;
}

.offer {
  background-image: url("/images/Black_on_white_dotted_world_map_vector.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100px;
}

section.offer .card {
  border: 1px solid blue;
  background-color: blue;
}

.card h6 {
  font-weight: 700;
}

section.offer .mentors {
  background: rgba(47, 0, 255, 0.3);
}

section.contact {
  background: green;
}

#move {
  width: 300px;
}

section.contact h1 {
  font-weight: 700;
}

section.contact .card {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 12px;
}

footer {
  background: red;
}

footer i {
  background: #fff;
  padding: 8px;
}

footer .copy {
  background-color: #fff;
  text-align: center;
  padding: 16px 0;
}